.display-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
    margin: 20px 0;
  }
  
  .content {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .data {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding-top: 30px;
  }
  
  .search input {
    width: 20vw;
    height: 7vh;
    background: #F1F0E8;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font: 20px/400 'Courier New', Courier, monospace;
  }
  
  .search-bar {
    width: 250px;
    height: 30px;
    border-radius: 25px;
    margin-right: 10px;
    outline: none;
    border: none;
    font: lighter 15px/1 monospace;
    box-shadow: 5px 5px 5px;
  }
  
  .btn-clear {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: #A0E9FF;
    cursor: pointer;
    border: none;
    font: 17px/1 monospace;
  }
  
  .btn-clear:hover {
    background: #00A9FF;
    box-shadow: 5px 5px 5px;
  }
  
  .icon {
    background: whitesmoke;
    width: 3vw;
    height: 3vw;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 1px 1px 10px 0;
  }
  
  .label {
    font: 21px/1 Georgia, 'Times New Roman', Times, serif;
  }
  
  .info-pc,
  .info-cntry,
  .info-state,
  .info-place {
    font: 19px/1 'Courier New', Courier, monospace;
    white-space: nowrap;
  }
  
  @media only screen and (max-width: 800px) {
    .card {
      width: 80vw;
      height: 80vh;
      margin: 10px;
    }
  
    .search input {
      width: 100%;
      width: 50vw;
      height: 6vh;
    }
  
    .search-bar {
      font-size: 14px;
      font-weight: 600;
    }
  
    .icon,
    .search-icon {
      width: 7vw;
      height: 7vw;
    }
  }
  